
.cart-price{
    width: 25rem;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,.1);
    cursor: pointer;
    height: max-content;
}
.cart-priceHeading{
    border-bottom: 1px solid var(--border-color);
   width: 95%;
}
.cart-info{
    justify-content: space-between;
}
span{
    color: var(--secondary-color);
}
.cartinfo-two{
    justify-content: space-between;
    width: 90%;
    border-bottom: 2px solid var(--border-color);
    border-top: 2px solid var(--border-color);
}
.cart-orderBtn{
   width: 100%; 
   border: none;
   color: var(--offwhite);
   background-color: var(--primary-color-hover);
   cursor: pointer;
}
.cart-orderBtn:hover{
    background-color: var(--primary-color);
}